{# vim: expandtab shiftwidth=2 tabstop=2 -#}
{% set PREFIX = data["prefix"] -%}
<link href="//fonts.googleapis.com" rel="dns-prefetch"/>
<link href="//unpkg.com" rel="dns-prefetch"/>
<link href="//s.w.org" rel="dns-prefetch"/>
<!-- cc-wpstyles-start: Styles from /wp-json/cc-wpstyles/get endpoint -->
{% for id_, url in data["json"].items() -%}
<link href="{{ url }}" id="{{ id_ }}" media="all" rel="stylesheet" type="text/css"/>
{% endfor -%}
<!-- cc-wpstyles-end -->
<link href="{{ PREFIX }}/includes/legalcode.css" id="legalcode" media="screen" rel="stylesheet" type="text/css"/>
<link href="{{ PREFIX }}/includes/legalcode-print.css" id="legalcode-print" media="print" rel="stylesheet" type="text/css"/>
